<%= content_for :title do %>
  Freshest - Short-lived news from the modern Web
<% end %>

<% if user_signed_in? %>
  <%= react_component("ModalSource", {
    currentUser: current_user,
    suggestionPath: suggest_path
    }) %>
<% else %>
  <%= react_component("ModalConnect", {
   lastSourcesImages: @sources[0..4].map {|source| source.avatar_url},
   oauthPath: user_omniauth_authorize_path(:twitter)
  }) %>
<% end %>

<div class="container">
  <div class="text-center hero">
    Freshest brings you the latest stuff from your favorite sources, in real time. It's a short-lived batch of resources from the modern web, continuously curated by CRISP, our algorithm.
  </div>

  <div class='text-center team'>
    <div class="equal-height">
      <a href='http://twitter.com/tchret' target="_blank">
        <div class="col-sm-6 col-xs-12 team-card">
          <div class="row-table-sm">
            <div class="col-xs-4 col-sm-4 img-container">
              <%= image_tag 'https://pbs.twimg.com/profile_images/601731362891165696/PJ-aTC7J.jpg', class: 'img-circle', width: "100%" %>
            </div>
            <div class="col-xs-8 col-sm-8 text-left">
              <h4>Thomas Chrétien</h4>
              <a href='http://twitter.com/tchret' target="_blank">@tchret</a>
            </div>
          </div>
        </div>
      </a>
      <a href='https://twitter.com/EdwardSchults' target="_blank">
        <div class="col-sm-6 col-xs-12 team-card">
          <div class="row-table-sm">

            <div class="col-xs-4 col-sm-4 img-container">
              <%= image_tag 'https://pbs.twimg.com/profile_images/467283249744838656/dE6Vjjcz_400x400.jpeg', class: 'img-circle', width: "100%" %>
            </div>
            <div class="col-xs-8 col-sm-8 text-left">
              <h4>Edward Schults</h4>
              <a href='https://twitter.com/EdwardSchults' target="_blank">@EdwardSchults</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="clear"></div>
    <p class="text-center hero">with the precious help of</p>

    <div class="equal-height">
      <a href='http://twitter.com/ssaunier' target="_blank">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12 seb-card">
          <div class="row-table-sm">
            <div class="img-container">
              <div class="col-xs-4 col-sm-3 img-container">
                <%= image_tag 'https://pbs.twimg.com/profile_images/448394328700764160/VdREMIVw.jpeg', class: 'img-circle', width: "100%" %>
              </div>
            </div>
            <div class="col-xs-8 col-sm-9 text-left">
              <h4>Seb Saunier</h4>
              <a href='http://twitter.com/ssaunier' target="_blank">@ssaunier</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>


